*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxz{
    border: 1px dashed black;
}
.boxc{
	width: 300px;
    border: 1px solid black;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}
.boxc p{
    
}
.boxp{
    padding: 15px;
    background-color: lightblue;
}
.boxp :first-child{
    
    text-align: left;
}
.boxp :nth-child(2){
    text-align: right;
}
.boxb{
   padding: 10px;
   background-color: blue;
}
.boxm{
    margin: 20px; 
}
.box{
	border: 2px solid black;
}
